<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "apple.com">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>method</key>
	<string>development</string>
	<key>teamID</key>
	<string>T894678DU4</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.lalmohar.client</key>
		<string>00c8ff5e-9a4b-40ae-ac91-56428f893ad9</string>
	</dict>
</dict>
</plist>
